body {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  font-size: 3rem;
  margin-top: 10px;
}
