* {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #030303;
    color: #fff;
}

body{
    overflow-x: hidden; /* hides horizontal scrollbar */
  overflow-y: hidden;
}
main{
    padding: 10px;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.inputs{
    position: absolute;
    top: 140px;
    left: 550px;
    border: 1px solid yellow;
    height: 35px;
    width: 16vw;
    font-size: 25px;
}

main .board {
    position: absolute;
    top: 200px;
    left: 550px;
    border: 1px solid green;
    height: 37vh;
    width: 16vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    font-size: 25px;
}