* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Gilroy';
}

html, body {
    height : 100%;
    width : 100%;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 50%;
    height: 50%;
    /* border: 1px solid red; */
    margin-left: 350px;
    margin-top: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}